@tailwind base;
@tailwind components;
@tailwind utilities;

/* カウントダウン */
.countdownContainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #660000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kanjiNum {
  font-family: 'ヒラギノ明朝 ProN', serif;
  font-size: 140px;
  color: #FFFFFF;
  text-shadow: 0 0 3px #FFFFFF;
}

/* 白線アニメーション */
.animationLineTop {
  top: 2%;
  left: 1%;
  width: 0;
  height: 2px;
  position: fixed;
  background-color: white;
  animation: expandLineTB 5s linear;
}

.animationLineBottom {
  bottom: 2%;
  right: 1%;
  width: 0;
  height: 2px;
  position: fixed;
  background-color: white;
  animation: expandLineTB 5s linear;
}

.animationLineRight {
  top: 2%;
  right: 1%;
  width: 2px;
  height: 0;
  position: fixed;
  background-color: white;
  animation: expandLineRL 5s linear;
}

.animationLineLeft {
  bottom: 2%;
  left: 1%;
  width: 2px;
  height: 0;
  position: fixed;
  background-color: white;
  animation: expandLineRL 5s linear;
}

@keyframes expandLineTB {
  to {
    width: 98%;
  }
}

@keyframes expandLineRL {
  to {
    height: 96%;
  }
}

/* 白線 */
.lineTop {
  top: 2%;
  left: 1%;
  width: 98%;
  height: 2px;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 3px #FFFFFF;
}

.lineBottom {
  bottom: 2%;
  right: 1%;
  width: 98%;
  height: 2px;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 3px #FFFFFF;
}

.lineRight {
  top: 2%;
  right: 1%;
  width: 2px;
  height: 96%;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 3px #FFFFFF;
}

.lineLeft {
  bottom: 2%;
  left: 1%;
  width: 2px;
  height: 96%;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 3px #FFFFFF;
}

/* フェード */
.page-fade-in {
  animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* top */
.topContainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #660000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.kanji {
  font-family: 'ヒラギノ明朝 ProN', serif;
  font-size: 70px;
  color: #FFFFFF;
  text-shadow: 0 0 3px #FFFFFF;
}

.roman {
  font-family: 'Times New Roman', Times;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  color: #FFFFFF;
  text-shadow: 0 0 3px #FFFFFF;
}

.birthday {
  font-family: 'Times New Roman', Times;
  font-size: 15px;
  text-align: center;
  margin-top: 2.5px;
  color: #FFFFFF;
  text-shadow: 0 0 3px #FFFFFF;
}

/* 矢印 */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  transform: scale(0.70);
  bottom: 10%;
  filter: drop-shadow(0 0 3px #FFFFFF);
}

.arrows path {
  stroke: #FFFFFF;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /* Safari, Chrome */
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s;
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s;
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s;
}

@media (max-width: 960px) {
  .kanjiNum {
    font-size: 100px;
  }
  .kanji {
    font-size: 55px;
  }
  .roman {
    font-size: 17px;
  }
  .birthday {
    font-size: 13px;
  }
  .arrows {
    transform: scale(0.55);
    bottom: 5%;
  }
}

@media (max-width: 500px) {
  .kanjiNum {
    font-size: 60px;
  }
  .animationLineTop {
    top: 1%;
    left: 1.5%;
    animation: expandLineTB 5s linear;
  }
  .animationLineBottom {
    bottom: 1%;
    right: 1.5%;
    animation: expandLineTB 5s linear;
  }
  .animationLineRight {
    top: 1%;
    right: 1.5%;
    animation: expandLineRL 5s linear;
  }
  .animationLineLeft {
    bottom: 1%;
    left: 1.5%;
    animation: expandLineRL 5s linear;
  }
  @keyframes expandLineTB {
    to {
      width: 97%;
    }
  }
  @keyframes expandLineRL {
    to {
      height: 98%;
    }
  }
  .lineTop {
    top: 1%;
    left: 1.5%;
    width: 97%;
  }
  .lineBottom {
    bottom: 1%;
    right: 1.5%;
    width: 97%;
  }
  .lineRight {
    top: 1%;
    right: 1.5%;
    height: 98%;
  }
  .lineLeft {
    bottom: 1%;
    left: 1.5%;
    height: 98%;
  }
  .kanji {
    font-size: 40px;
  }
  .roman {
    font-size: 14px;
  }
  .birthday {
    font-size: 11px;
  }
  .arrows {
    transform: scale(0.40);
    bottom: 5%;
  }
}
